<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar fxLayout="row" fxLayoutAlign="center center">
    <mat-icon fxFlex="20">home</mat-icon>
    <span class="mat-h1" fxFlex="60" fxLayoutAlign="center center">
      Online Lamda Editor
    </span>
    <div fxLayout fxLayoutAlign="end" fxFlex="20" fxLayoutGap="10">
      <span>Username</span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </mat-toolbar>
  <div fxLayout="column" class="container">
    <h3 class="mat-h3">Create a new Function</h3>
    <mat-divider class="divider"></mat-divider>
    <app-create-lamda-function></app-create-lamda-function>
  </div>
</div>
